/* img{
    -webkit-mask-image: url(w3logo.png);
    mask-image: url(w3logo.png);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
} */
 /* button{
    padding: 5px;
    background-color: blue;
    border: 2px solid red;
    outline: none;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    transition: 1s;
    box-shadow: 0 ;
    display: block;
 }
 button:hover{
    background-color: red;
    border: 2px solid green;
    cursor:not-allowed;
 } */
  .button{
    vertical-align: middle;
    display: inline-block;
    background-color: #f4511e;
    outline: none;
    border: none;
    color: white;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
  }
.button span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
button span::after{
    content: '\00bb';
    opacity: 0;
}
button:hover span::after{
    opacity: 1;
    transition: 0.5s;
}