div{
    background-color: aqua;
    height: 200px;
    width: 200px;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

}
p{
    text-align: center;
}
img{
    float:right;
}